[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "dot_tmux/plugins/tpm"]
	path = dot_tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
